<div style="top: 225px;margin-left: 50%;font-size: 14px;width: 42px;position: relative;">
    <input type="text" class="form-control" style="width: 84px;" id="validationCustom03" required
        aria-describedby="emailHelp" [(ngModel)]="inputvalue" placeholder="Enter Url">
</div>
<app-featrures [inputprop]="inputvalue"></app-featrures>
<app-pricing [inputprop]="inputvalue">

</app-pricing>

<!-- <app-resources [inputprop]="inputvalue">

</app-resources> -->

<app-shortly [inputprop]="inputvalue">

</app-shortly>
<app-middle [inputprop]="inputvalue">

</app-middle>